asgiref==3.8.1
awsebcli==3.21.0
beautifulsoup4==4.13.3
botocore==1.35.99
cement==2.10.14
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
dj-database-url==2.3.0
Django==5.2
django-cors-headers==4.4.0
idna==3.10
jmespath==1.0.1
numpy==2.1.1
pandas==2.2.3
pathspec==0.10.1
psycopg2-binary==2.9.10
pypiwin32==223
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
pywin32==310
PyYAML==6.0.2
requests==2.32.3
semantic-version==2.10.0
setuptools==78.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
termcolor==2.5.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
wcwidth==0.2.13
gunicorn==20.1.0
